.header {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
}
.userIcon {
  position: absolute;
  top: 28.5px;
  left: 2%;
  cursor: pointer;
}
#exit {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.popup {
  width: 100px;
}
